.card {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    background-color: antiquewhite;
    padding-left: 30px;
    margin: auto;
}

.category_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px; 
}

button {
    width: var(--search-bar-width);
}